* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* Button functionality */
.active{
    border: 1px solid rgba(175, 47, 47, 0.15);
    border-radius: 5px;
}
.disabled{
    border-radius: 5px;
}

.disabled:hover{
    border: 1px solid rgba(175, 47, 47, 0.15);
}

html{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 1.4rem;
    min-width: 550px;
}


h1{
    margin-top: 2rem;
    font-size: 7rem;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 1rem;
    color: rgba(175, 47, 47, 0.15);
}

/* BODY - keeps the entire "Note Container" */
.body{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    background-color: white;
    width: 100%;
    max-width: 550px;
    min-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER SECTION- Input text, send form and "check-all button"  */
.header{
    display: grid;
    grid-template-columns: 12% auto;
    box-shadow: 0 2px 2px 1px rgba(161, 160, 160, 0.3);
}

#input-container{
    padding: 15px;
}


#check-all{
    grid-column: 1;
    border: none;
    background-color: transparent;
    transform: rotate(-90deg);
    font-size: 3rem;
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
    color:rgb(161, 160, 160);
    opacity: '0.2';
}


#textinput{
    grid-column: 2;
    border-style: none;
    justify-self: stretch;
    text-align: left;
    font-size: 1.8rem;
    font-style: italic;
    opacity: 0.2;
    justify-self: start;
    width: 100%;
    height: 100%;
}

#textinput:focus{
    
    outline: none;
    opacity: 0.7;
}

/* MAIN SECTION- Shows tasks in list with check-button, text and delete-button */
#todo-list-container{
    border-bottom: 1px solid rgba(161, 160, 160, 0.3);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul{
    list-style-type: none;
}

#todo-list li{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 10px;
    text-align: left;
    font-size: 1.8rem;
    color:rgb(39, 38, 38)
}

li input[type="text"]{
    grid-column: 2;
    font-size: 1.8rem;
    opacity: 0.5;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}

li label{
    grid-column: 2;
    font-size: 1.8rem;
    opacity: 0.5;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}

li input[type="checkbox"]{
    grid-column: 1;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
}

li button{
    grid-column: 3;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    border-radius: 50%;
}

li button:hover{
    opacity: 1;
}

.checked label{
    text-decoration: line-through;
    opacity: 0.2;
}

.checkbox-round {
    width: 2.2em;
    height: 2.2em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked{
    border: 1px solid green;
    opacity: 0.5;
}

.checkbox-round:checked:after{
    content: "✔";
    position: relative;
	left: 5px;
    bottom: 2px;
    font-size: 1.5rem;
    color: green;
}

/* FOOTER SECTION - Items-left Label, List of link-"buttons" and Clear Completed Button*/
.footer{
    box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
    height: 50px;
}

#counter{
    color: rgb(77, 77, 77);
    float: left;
    padding: 5px;
    margin: 5px;
    margin-right: 75px;
}

.footer li{
    color: rgb(77, 77, 77);
    float: left;
    padding: 5px;
    margin: 5px;
    line-height: normal;
    list-style: none;
    align-self: center;
}

.footer li a{
    color: rgb(77, 77, 77);
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

#clearCompletedButton{
    float: right;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    border: none;
    line-height: normal;
    color: rgb(77, 77, 77);
    font-family: Arial, Helvetica, sans-serif;
}

#clearCompletedButton:hover{
    text-decoration: underline;
}


/* FOOTER */
footer{
    margin-top: 4rem;
    color: #afaeae;
    font-size: 0.7rem;
}
